name: Build and Deploy Documentation

on:
  push:
    branches:
      - master

jobs:
  extract:
    runs-on: ubuntu-20.04

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
    
    - name: Find Markdown files
      run: |
        mkdir -p markdown
        find . -type f -name "*.md" -exec cp {} markdown \;

    - name: Deploy Markdown files
      uses: actions/upload-artifact@v3
      with:
        name: markdown
        path: markdown
