name: Build and Deploy Documentation

on:
  push:
    branches:
      - master

jobs:
  extract:
    runs-on: ubuntu-20.04

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
    
    - name: Find Markdown files
      run: |
        mkdir -p markdown
        find . -name '*.md' | cpio -pdm /markdown
    
    - name: Deploy Markdown files
      uses: actions/upload-artifact@v3
      with:
        name: markdown
        path: markdown
        
    - name: Find Ownership
      run: |
        mkdir -p ownership
        find . -name 'CODEOWNERS' -exec cp {} ownership \;
        
    - name: Deploy Ownership files
      uses: actions/upload-artifact@v3
      with:
        name: ownership
        path: ownership
        

  build:
    runs-on: ubuntu-20.04
    permissions:
        contents: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 16

    - name: Checkout Docusaurus code
      uses: actions/checkout@v3
      with:
        repository:  wasanderes94/websiteAction
        ref: main
        token: ${{secrets.TOKEN}}

    - name: Install dependencies
      run: npm ci 
    
    - name: Create Docs directory
      run: mkdir docs
    
    - name: Copy Markdown files
      uses: actions/download-artifact@v2
      with:
        name: markdown
        path: docs
    
    - name: Build website
      run: npm run build 

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
          github_token: ${{ secrets.TOKEN }}
          # Build output to publish to the `gh-pages` branch:
          publish_dir: ./build
          # The following lines assign commit authorship to the official
          # GH-Actions bot for deploys to `gh-pages` branch:
          # https://github.com/actions/checkout/issues/13#issuecomment-724415212
          # The GH actions bot is used by default if you didn't specify the two fields.
          # You can swap them out with your own user credentials.
          user_name: github-actions[bot]
          user_email: 41898282+github-actions[bot]@users.noreply.github.com

